<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.regilan.gasosa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gasosa_logo_azul"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EtanolGasolinaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustoAbastecimentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustoTrajetoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuilometragemPorLitroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrocaOleoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrarAbastecimentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SobreAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RodizioPneusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".VerificarDataTrocaOleoReceiver">
            <intent-filter>
                <action android:name="TrocaOleo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".EstimativaAutonomiaActivity"></activity>
    </application>

</manifest>